th {font-size: 16px; color: blue; text-align: center; 
    border: thin solid blue; padding: 5px 10px 5px 10px}

td {font-size: 14px; text-align: center; border: thin solid blue}

.ok,.yes {background-color: green}

.fail,.no {background-color: red}

.minor {background-color: yellow}

.major {background-color: orange}
